body{
    margin:0;
    padding: 0;

}
header {

    background-color: beige;
    margin-bottom:80px;
}
.background-div{
    width: 1278px;
    margin:0 auto;

}



.navi{
    display: flex;
    justify-content: space-between;
}

header,main,footer{


}

.main-sec1 {
    display: flex;
    width: 500px;
    height: 390px;
    border-radius: 30px;
    margin-bottom: 120px;
    cursor: pointer;


}
.sec1-h {

    margin-top: 40px; /*배치가 너무 안이뻐서 살짝만 수정했어요ㅠ*/
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    display: flex;
}
.sec1-p {

    display: flex;
}
.라온이1{
    width: 300px;

    height:400px;
    cursor: pointer;



}
.p1,.h1{

}
.h1{
    margin-bottom: 180px;

}
.p1 {
    font-size: 36px;
    margin-bottom: 100px;

}
.HAS {
    margin-top:21.44px;
    display: flex;
    gap:15px;
    font-size: small;




}
.home,.about,.support{
    color: cadetblue;
    text-decoration: none;

}
.sec-소개문구{
    display: flex;
    align-items: center;
    width: 1278px;
    justify-content: space-between;
}
.소개문구{

    line-height: 45px;
    font-size: 20px;
    margin-bottom: 100px;


}

.사진다운버튼{
    border-radius: 30px;
    background-color: hotpink;
    border: none;
    outline: none;
    color: black;
    height: 40px;
    font-size: 25px;
    text-align: center;
    width: 40px;
    cursor: pointer;

}

.modalbutton,.냥스타그램 {
    border-radius: 30px;
    background-color: hotpink;
    border: none;
    outline: none;
    color: black;
    height: 25px;
    cursor: pointer;
}

.사진다운버튼:hover,.modalbutton:hover,.냥스타그램:hover {
    background-color: cornflowerblue;
}

.modalbutton{
    margin-left: 30%;


}

.sec-1{
    display:flex;
    justify-content: space-between;
    margin:0 auto;
    width: 1280px;
}
.소개박스{
    display: flex;
    flex-direction: column;
    height: 390px;
    justify-content: space-around;
}



#myModal,#myModal2 {
    display: none;
    position: fixed;
    top: 3%;
    right: 11%;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.myModal-p,.myModal-p2{
    font-size: 20px;
}
.insta{
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    margin-top: 2.5px;
}
.냥스타묶음{
    display: flex;
}

.sec-2{
    display: flex;
    background-color: lightcyan;
    justify-content: center;

}

.sec2-h{

    font-size: 48px;
    line-height: 60px;
    text-align: center;

}
.sec2-p{

    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.h3-p{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.이미지모음{

    display:flex;
    width: 1519.2px;
    justify-content: space-evenly;

}

.Raon{
    width: 378px;
    height: 378px;
    border-radius: 30px;
    cursor: pointer;

}
.footer-h{
    display: flex;
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 36px;
    width: 1278px;
    margin-left: auto;
    margin-right: auto;
}

.footer-p{
    display: flex;
    font-size: 16px;
    width: 1278px;
    margin: 0 auto;
}

#map{
    display: flex;
    width: 1278px;
    height: 520px;
    margin-bottom: 80px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
}

.문구와버튼
{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin : auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.다운로드구조{
    display: flex;
    flex-direction: column;
}

.사진다운버튼 {
    display: flex;
    margin:auto;

}
.사진다운버튼링크{
    text-decoration-line:none ;}

.다운로드문구 {

    text-align: center;
    font-size: 20px;


}

.lightbox {
    position: fixed;
    display: none;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    border: 2px solid white;
    border-radius: 30px;
    margin: auto;

}


.소개및추가문구{
    flex-direction: column;
}
.추가문구 {

    flex-direction: column;
    font-size: 25px;
    color: navy;
    /*margin-left: 320px;*/
}

.image-gallery {
    background-color: lightpink;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /*gap: 72px;*/
    /*margin-left: 320px;*/
    /*margin-right: 322px;*/
    /*width: 1295px; !*사진이 약간 잘리는 관계로 스크롤 폭은 상향조정*!*/
    margin-bottom: 288px;
    max-height: 828px;
    overflow-y: auto;
    margin-top: 88px;
    gap:92.1px;

}

.image-gallery img {
    width: 378px;
    height: 378px;
    border-radius: 30px;
    cursor: pointer;
}

.line{
    display: flex;
    /*width:1278px;*/
    /*margin-left:320px;*/
    margin-bottom: 68px;
    border:1px solid hotpink;
}

/*미디어쿼리*/

@media (max-width: 575px){
.background-div{
    width:100%;
}
    header{
        margin-bottom: 0;
    }
.HAS{
    margin-top:40px;
    justify-content: center;
}
.냥스타묶음{
    font-size: 5px;
}
.h1{

    text-align: center;
}
.p1{
    font-size: 13px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.sec-소개문구{
    flex-direction: column-reverse;
    margin:0 auto
}
.라온이1{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
.소개문구{
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 40px;

}
.추가문구{
    font-size: 15px;
    text-align: center;}

.sec-1{
    flex-direction: column-reverse;
}
.main-sec1{
    width: 100%;
    height: auto;
}
.sec1-h{
    justify-content: center;
    font-size: 25px;
    text-align: center
}
.소개박스{
    justify-content: space-evenly;
}
.sec1-p{
    justify-content: center;
    line-height: 30px;
    margin-top: 0;
}
.sec2-h{
    font-size: 24px;
}

.image-gallery{
    gap:0;
    margin-bottom: 100px;

}
.이미지모음{
    flex-direction: column;
    width: 100%;
    height: auto;
}
.line{
    margin-bottom: 100px;
    width: 100%;
}
.footer-h{
    justify-content: center;
}
.footer-p{
    text-align: center;
}
.map{
    width: 100%;
    height: 200px;
    justify-content: center;
}
    .lightbox img{
        margin-bottom: 0;
    }
    .문구와버튼{
        margin-top: 0;
    }
    .다운로드문구{
        font-size: 18px;
    }
}

